body {
  background-color: #090D11;
  height: 100vh;
}

#root {
  background-color: #090D11;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.py-2:hover {
  background: linear-gradient(90deg, #e6007a 0%, #9f125d 100%);
}
.text-gradient {
  background: linear-gradient(to right, #e6007a 0%, #9f125d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bg-grad {
  background-image: linear-gradient(to right, #e6007a 0%, #9f125d 100%);
}
.text-grad {
  color: linear-gradient(to right, #e6007a 0%, #9f125d 100%);
}
